{% extends 'base.html' %}

{% block title %}Home
{% endblock title %}


{% block body %}

<header>
      <h1>Welcome to Our Mental Health Support Site</h1>
      <p>A safe space for mental health awareness and support</p>

      {% comment %} <h3> What is Mental Health? </h3>
      <p> Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act, and helps determine how we handle stress, relate to others, and make choices.

        Mental health is important at every stage of life, from childhood and adolescence through adulthood. Over the course of your life, if you experience mental health problems, your thinking, mood, and behavior could be affected.
      </p> {% endcomment %}



      {% comment %} <h3> Mental Health Conditions </h3> {% endcomment %}
      {% comment %} <main>
        <section class="mental-health">
          <h2>Mental Health Conditions</h2>
          <p class="condition-info">Mental illnesses are disorders, ranging from mild to severe, that affect a person’s thinking, mood, and/or behavior. According to the National Institute of Mental Health, nearly one-in-five adults live with a mental illness.</p>
          <p class="condition-factors">Many factors contribute to mental health conditions, including:</p>
          <ul class="condition-factors-list">
            <li>Biological factors, such as genes or brain chemistry</li>
            <li>Life experiences, such as trauma or abuse</li>
            <li>Family history of mental health problems</li>
          </ul>
        </section>
       {% endcomment %}
        

       <section class="contact-us">
        <h2>Contact Immediately</h2>
        <p>If you need assistance or have any questions, please provide all your information in the Contact Us page:</p>
        <p>Email: owaisab003@gmail.com</p>
        <p>Phone: +81 9999999999</p>
        <p>Address: 123 Mental Health Street, Hyderbad, India</p>
      </section>


      </main>
      

    
      {% comment %} <p class="larger-text"> Mental Health is Vital: Mental health is as crucial as physical health. It encompasses emotional, psychological, and social well-being and affects how we think, feel, and act.</p>
      <p class="larger-text"> Normalizing Discussions: Encourage open conversations about mental health to break the stigma. Normalizing discussions can help people feel more comfortable seeking help.</p>
      <p class="larger-text"> Signs and Symptoms: Awareness of common signs and symptoms of mental health issues such as anxiety, depression, mood swings, changes in behavior, and withdrawal from activities.</p>
      <p class="larger-text"> Reducing Stress: Educate about managing stress as excessive stress can negatively impact mental health. Techniques like relaxation exercises, time management, and prioritization can help.</p> {% endcomment %}
    </header>
  


{% endblock body %}

